<menu>
    <Wall order="55" cssClass="fa fa-th">
        <MosDNS VisibleName="MosDNS" cssClass="fa fa-globe fa-fw">
            <General VisibleName="General" order="10" url="/ui/mosdns"/>
            <Plugins VisibleName="Plugins" order="20" cssClass="fa fa-cogs fa-fw" url="/ui/mosdns/plugins"/>
            <Advanced VisibleName="Advanced" order="25" url="/ui/mosdns/advanced"/>

            <Statistics VisibleName="Statistics" order="40" url="/ui/mosdns/statistics"/>
            <Logs VisibleName="Log File" order="50" url="/ui/mosdns/logs"/>
        </MosDNS>
    </Wall>
</menu>