<acl>
    <page-proxy-mosdns-general>
        <name>Proxy: MosDNS: General</name>
        <patterns>
            <pattern>ui/mosdns/</pattern>
            <pattern>api/mosdns/general/*</pattern>
        </patterns>
    </page-proxy-mosdns-general>
    <page-proxy-mosdns-plugins>
        <name>Proxy: MosDNS: Plugins</name>
        <patterns>
            <pattern>ui/mosdns/plugins/</pattern>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-proxy-mosdns-plugins>
    <page-proxy-mosdns-cache>
        <name>Proxy: MosDNS: Cache</name>
        <patterns>
            <pattern>ui/mosdns/plugins/cache</pattern>
            <pattern>api/mosdns/cache/*</pattern>
        </patterns>
    </page-proxy-mosdns-cache>
    <page-proxy-mosdns-forward>
        <name>Proxy: MosDNS: Forward</name>
        <patterns>
            <pattern>ui/mosdns/plugins/forward</pattern>
            <pattern>api/mosdns/forward/*</pattern>
        </patterns>
    </page-proxy-mosdns-forward>
    <page-proxy-mosdns-redirect>
        <name>Proxy: MosDNS: Redirect</name>
        <patterns>
            <pattern>ui/mosdns/plugins/redirect</pattern>
            <pattern>api/mosdns/redirect/*</pattern>
        </patterns>
    </page-proxy-mosdns-redirect>
    <page-proxy-mosdns-hosts>
        <name>Proxy: MosDNS: Hosts</name>
        <patterns>
            <pattern>ui/mosdns/plugins/hosts</pattern>
            <pattern>api/mosdns/hosts/*</pattern>
        </patterns>
    </page-proxy-mosdns-hosts>
    <page-proxy-mosdns-ipset>
        <name>Proxy: MosDNS: IPSet</name>
        <patterns>
            <pattern>ui/mosdns/plugins/ipset</pattern>
            <pattern>api/mosdns/ipset/*</pattern>
        </patterns>
    </page-proxy-mosdns-ipset>
    <page-proxy-mosdns-sequence>
        <name>Proxy: MosDNS: Sequence</name>
        <patterns>
            <pattern>ui/mosdns/plugins/sequence</pattern>
            <pattern>api/mosdns/sequence/*</pattern>
        </patterns>
    </page-proxy-mosdns-sequence>
    <page-proxy-mosdns-fallback>
        <name>Proxy: MosDNS: Fallback</name>
        <patterns>
            <pattern>ui/mosdns/plugins/fallback</pattern>
            <pattern>api/mosdns/fallback/*</pattern>
        </patterns>
    </page-proxy-mosdns-fallback>
    <page-proxy-mosdns-servers>
        <name>Proxy: MosDNS: Servers</name>
        <patterns>
            <pattern>ui/mosdns/plugins/servers</pattern>
            <pattern>api/mosdns/servers/*</pattern>
        </patterns>
    </page-proxy-mosdns-servers>
    <page-proxy-mosdns-advanced>
        <name>Proxy: MosDNS: Advanced</name>
        <patterns>
            <pattern>ui/mosdns/advanced/</pattern>
            <pattern>api/mosdns/advanced/*</pattern>
        </patterns>
    </page-proxy-mosdns-advanced>
    <page-proxy-mosdns-statistics>
        <name>Proxy: MosDNS: Statistics</name>
        <patterns>
            <pattern>ui/mosdns/statistics/</pattern>
            <pattern>api/mosdns/statistics/*</pattern>
        </patterns>
    </page-proxy-mosdns-statistics>
    <page-proxy-mosdns-logs>
        <name>Proxy: MosDNS: Logs</name>
        <patterns>
            <pattern>ui/mosdns/logs/</pattern>
            <pattern>api/mosdns/logs/*</pattern>
        </patterns>
    </page-proxy-mosdns-logs>

</acl>