<acl>
    <page-user-MosDNS>
        <name>WebCfg - Services: MosDNS</name>
        <description>Allow access to MosDNS configuration pages</description>
        <patterns>
            <pattern>ui/mosdns/*</pattern>
        </patterns>
    </page-user-MosDNS>
    <page-user-MosDNS-Data>
        <name>WebCfg - Services: MosDNS: Data</name>
        <description>Allow access to MosDNS Data configuration</description>
        <patterns>
            <pattern>api/mosdns/data/*</pattern>
        </patterns>
    </page-user-MosDNS-Data>
    <page-user-MosDNS-Forward>
        <name>WebCfg - Services: MosDNS: Forward</name>
        <description>Allow access to MosDNS Forward configuration</description>
        <patterns>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-Forward>
    <page-user-MosDNS-Redirect>
        <name>WebCfg - Services: MosDNS: Redirect</name>
        <description>Allow access to MosDNS Redirect configuration</description>
        <patterns>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-Redirect>
    <page-user-MosDNS-Hosts>
        <name>WebCfg - Services: MosDNS: Hosts</name>
        <description>Allow access to MosDNS Hosts configuration</description>
        <patterns>
            <pattern>api/mosdns/hosts/*</pattern>
        </patterns>
    </page-user-MosDNS-Hosts>
    <page-user-MosDNS-IPSet>
        <name>WebCfg - Services: MosDNS: IPSet</name>
        <description>Allow access to MosDNS IPSet configuration</description>
        <patterns>
            <pattern>api/mosdns/ipset/*</pattern>
        </patterns>
    </page-user-MosDNS-IPSet>
    <page-user-MosDNS-Sequence>
        <name>WebCfg - Services: MosDNS: Sequence</name>
        <description>Allow access to MosDNS Sequence configuration</description>
        <patterns>
            <pattern>api/mosdns/sequence/*</pattern>
        </patterns>
    </page-user-MosDNS-Sequence>
    <page-user-MosDNS-Plugins>
        <name>WebCfg - Services: MosDNS: Plugins</name>
        <description>Allow access to MosDNS Plugins configuration</description>
        <patterns>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-Plugins>
    <page-user-MosDNS-ForwardBare>
        <name>WebCfg - Services: MosDNS: Forward Bare</name>
        <description>Allow access to MosDNS Forward bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/forwardBare</pattern>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-ForwardBare>
    <page-user-MosDNS-CacheBare>
        <name>WebCfg - Services: MosDNS: Cache Bare</name>
        <description>Allow access to MosDNS Cache bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/cacheBare</pattern>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-CacheBare>
    <page-user-MosDNS-RedirectBare>
        <name>WebCfg - Services: MosDNS: Redirect Bare</name>
        <description>Allow access to MosDNS Redirect bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/redirectBare</pattern>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-RedirectBare>
    <page-user-MosDNS-RulesBare>
        <name>WebCfg - Services: MosDNS: Rules Bare</name>
        <description>Allow access to MosDNS Rules bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/rulesBare</pattern>
            <pattern>api/mosdns/plugins/*</pattern>
        </patterns>
    </page-user-MosDNS-RulesBare>
    <page-user-MosDNS-HostsBare>
        <name>WebCfg - Services: MosDNS: Hosts Bare</name>
        <description>Allow access to MosDNS Hosts bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/hostsBare</pattern>
            <pattern>api/mosdns/hosts/*</pattern>
        </patterns>
    </page-user-MosDNS-HostsBare>
    <page-user-MosDNS-IPSetBare>
        <name>WebCfg - Services: MosDNS: IPSet Bare</name>
        <description>Allow access to MosDNS IPSet bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/ipsetBare</pattern>
            <pattern>api/mosdns/ipset/*</pattern>
        </patterns>
    </page-user-MosDNS-IPSetBare>
    <page-user-MosDNS-SequenceBare>
        <name>WebCfg - Services: MosDNS: Sequence Bare</name>
        <description>Allow access to MosDNS Sequence bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/sequenceBare</pattern>
            <pattern>api/mosdns/sequence/*</pattern>
        </patterns>
    </page-user-MosDNS-SequenceBare>
    <page-user-MosDNS-FallbackBare>
        <name>WebCfg - Services: MosDNS: Fallback Bare</name>
        <description>Allow access to MosDNS Fallback bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/fallbackBare</pattern>
            <pattern>api/mosdns/fallback/*</pattern>
        </patterns>
    </page-user-MosDNS-FallbackBare>
    <page-user-MosDNS-ServersBare>
        <name>WebCfg - Services: MosDNS: Servers Bare</name>
        <description>Allow access to MosDNS Servers bare page</description>
        <patterns>
            <pattern>ui/mosdns/plugins/serversBare</pattern>
            <pattern>api/mosdns/servers/*</pattern>
        </patterns>
    </page-user-MosDNS-ServersBare>
</acl>